/*
This is the primary style sheet for doortothe.net
*/

/* CSS Global Level Styles and Variables */
:root {
  --hex-height: 30vh;
  --hex-height-x2: calc(var(--hex-height) * 2);
  --hex-height-x5: calc(var(--hex-height) * 5);
  --hex-shift: calc(var(--hex-height) * -0.5);
  --hex-width: calc(var(--hex-height) * 0.57735);
  --hex-width-x2: calc(var(--hex-height-x2) * 0.57735);
  --hex-width-x5: calc(var(--hex-height-x5) * 0.57735);
  --hex-vertical-gap: 0.5rem;
  --hex-horizontal-gap: calc(var(--hex-vertical-gap) * 0.866);
  --shift-up: calc(var(--hex-shift) + (var(--hex-vertical-gap) * -0.5));
  --charcoal: hsla(214, 21%, 31%, 1);
  --heliotrope-gray: hsla(277, 10%, 66%, 1);
  --dark-orange: hsla(33, 94%, 49%, 1);
  --tea-green: hsla(94, 61%, 84%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--charcoal);
  font-family: 'Goldman', cursive;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

/* CSS Element Level Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: calc(var(--hex-height) * -0.5);
  width: 100%;
  height: calc(var(--hex-height) * 0.5);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: calc(var(--hex-width) * -1);
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: calc(var(--hex-height) * 0.8);
  width: 100%;
  height: calc(var(--hex-height) * 0.5);
}

footer .about-hex {
  position: relative;
  top: calc(var(--hex-height) * 0.40);
}

ul {
  list-style: none;
  max-height: 75vh;
  overflow-y: scroll;
  scrollbar-width: none;
  /* IE and Edge Support */
  -ms-overflow-style: none;
}

/* Chrome, Safari, and Opera support to hide scrollbar */
ul::-webkit-scrollbar {
  display: none;
}

li {
  margin: 0.4rem;
  padding: 0.2rem;
  font-size: 1.5rem;
}

a {
  padding: 0.4rem 0.2rem;
  text-decoration: none;
  color: var(--charcoal);
  font-size: inherit;
  text-transform: uppercase;
}

a:hover {
  color: #fff;
  transition: color 0.25s;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* CSS Class Level Styles */
.title {
  margin: calc(var(--hex-height) * 0.04);
  padding: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(var(--hex-height) * 0.12);
}

.top-menu h2 {
  position: absolute;
  bottom: 0px;
}

.about-hex > div > span {
  position: absolute;
  margin-top: calc(var(--hex-height) * 0.05);
  top: 0px;
}

.main-nav {
  display: none;
}

.links {
  display: none;
}

.about > p {
  display: none;
}

/* Hexagon and Grid */

.hex-grid {
  margin-top: calc(var(--hex-height) * 0.15);
  display: grid;
  justify-items: center;
  position: relative;
  top: calc(var(--hex-height) * 0.5);
  grid-template-columns: repeat(5, calc(var(--hex-width) * 1.5));
  grid-gap: var(--hex-vertical-gap) var(--hex-horizontal-gap);
  grid-template-areas: "academia   art   cooking    business   finance"
                       "netainment music videogames science    vr-ar"
                       "blank1     otaku blank2     technology blank3 ";
}

.hex-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--hex-width);
  height: var(--hex-height);
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.hexagon {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--dark-orange);
  width: var(--hex-width);
  height: var(--hex-height);
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  background: var(--dark-orange);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hexagon::before {
  transform: rotate(-60deg);
}

.hexagon::after {
  transform: rotate(60deg);
}

.hexagon::before:hover {
  background: red;
}

.hexagon > * {
  z-index: 1;
}

/* Hex Menu Toggle */
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.toggle:hover ~ div {
  transform: scale(1.05);
}

.toggle:checked,
.toggle:checked + span {
  position: fixed;
  top: 50px;
  left: 50px;
  margin: 0;
  width: 50px;
  height: 50px;
  z-index: 5;
}

.toggle:checked + span {
  z-index: 4;
  opacity: 0.75;
}

.toggle:checked:hover + span {
  opacity: 1;
}

.toggle:checked:hover ~ div {
  transform: scale(0.98);
}

.toggle:checked ~ div {
  position: fixed;
  /* name | duration | timing | delay | iteration | direction | fill-mode | play-state */
  animation: open-hex 1.5s ease-in-out 0s 1 normal forwards;
  z-index: 3;
}

@keyframes open-hex {
  0% {
    width: var(--hex-width-x2);
    height: var(--hex-height-x2);
    top: calc(-10vh - calc(var(--hex-height-x2) * 0.5));
    left: calc(50vw - calc(var(--hex-width-x2) * 0.5));
  }
  50% {
    width: var(--hex-width-x2);
    height: var(--hex-height-x2);
    top: calc(50vh - calc(var(--hex-height-x2) * 0.5));
    left: calc(50vw - calc(var(--hex-width-x2) * 0.5));
  }
  100% {
    width: var(--hex-width-x5);
    height: var(--hex-height-x5);
    top: calc(50vh - calc(var(--hex-height-x5) * 0.5));
    left: calc(50vw - calc(var(--hex-width-x5) * 0.5));
  }
}

.toggle:checked ~ div > h2 {
  display: none;
}

.top-menu .toggle:checked ~ div > h2 {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
}

.about-hex .toggle:checked ~ div > span {
  position: relative;
}

.toggle:checked ~ div > .main-nav,
.toggle:checked ~ div > .links,
.toggle:checked ~ div > p {
  display: inline-block;
  opacity: 0;
  height: 0%;
  animation: show-links 1s ease-out 1.5s 1 normal forwards;
}

@keyframes show-links {
  0% {
    margin-top: 0rem;
  }
  100% {
    margin-top: 2rem;
    height: calc(var(--hex-height) * 2);
    opacity: 1;
  }
}

.toggle:checked ~ div > .fas {
  font-size: 5rem;
  transition: all 1s;
}

/* CSS ID Level Styles */
#academia {
  grid-area: academia;
}

#art {
  grid-area: art;
  top: var(--shift-up);
}

#cooking {
  grid-area: cooking;
}

#business {
  grid-area: business;
  top: var(--shift-up);
}

#finance {
  grid-area: finance;
}

#netainment {
  grid-area: netainment;
}

#music {
  grid-area: music;
  top: var(--shift-up);
}

#videogames {
  grid-area: videogames;
}

#science {
  grid-area: science;
  top: var(--shift-up);
}

#vr-ar {
  grid-area: vr-ar;
}

#otaku {
  grid-area: otaku;
  top: var(--shift-up);
}

#tech {
  grid-area: technology;
  top: var(--shift-up);
}

/* Styles for smaller screens */
@media screen and (max-width: 1199px) {
  :root {
    --hex-height: 30vw;
  }

  body {
    overflow: auto;
  }

  header {
    top: 0;
    height: calc(var(--hex-height) * 0.25);
  }

  main {
    top: calc(var(--hex-width) * -0.50);
  }

  footer {
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--hex-height) * 0.25);
    overflow: hidden;
  }

  footer .about-hex {
    right: calc(var(--hex-width) * 0.85);
  }

  .top-menu {
    position: relative;
    bottom: calc(var(--hex-height) * 0.40);
  }

  .top-menu h2 {
    margin: 0.2rem;
  }

  .hex-grid {
    grid-template-columns: repeat(3, calc(var(--hex-width) * 1.5));
    grid-template-areas: "art      cooking    business"
                         "music    videogames science"
                         "otaku    netainment technology"
                         "academia vr-ar      finance";
  }

  .toggle:checked,
  .toggle:checked + span {
  top: 25px;
  left: 25px;
  width: 25px;
  height: 25px;
  font-size: 2rem;
  } 
  
  #academia {
    top: var(--shift-up);
  }

  #finance {
    top: var(--shift-up);
  }
}

@media screen and (max-width: 599px) {
  :root {
    --hex-height: 45vw;
  }

  header {
    justify-content: flex-start;
    width: 100%;
    /* z-index: 2; */
  }

  main {
    top: calc(var(--hex-width) * -0.20);
  }

  footer {
    top: 50px;
  }

  footer .about-hex {
    right: calc(var(--hex-width) * 0.65);
  }

  ul, p {
    max-width: 90vw;
  }

  .top-menu {
    left: calc(var(--hex-width) * 0.65);
  }

  .top-menu h2 {
    padding: 0.2rem;
  }

  .hex-grid {
    margin-top: 0;
    grid-template-columns: repeat(2, calc(var(--hex-width) * 1.5));
    grid-template-areas: "cooking    business"
                         "videogames science"
                         "netainment technology"
                         "vr-ar      finance"
                         "art        music"
                         "otaku      academia";
  }

  #art {
    top: 0;
  }

  #otaku {
    top: 0;
  }

  .fa-2x {
    font-size: 1.8rem;
  }
}